# directories that have to exist but shouldn't be added to git
sysroot/
build/

# compiled files files
*.bin
*.iso
*.o
*.d
*.a
*.sys
*.efi

# i have no idea what this is for
bx_enh_dbg.ini

misc/

# not important
make.png

.vscode/
