# directories that have to exist but shouldn't be added to git
isodir/
sysroot/
build/

# compiled files files
*.bin
*.iso
*.o
*.d

# i have no idea what this is for
bx_enh_dbg.ini

# temporarily ignored cause i have no idea how to set up cmake with this and dont really have much else to use it for yet
misc/

# not important
make.png
